# Entorno virtual
venv/
env/
ENV/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Archivos de log
*.log

# Archivos de entorno
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs y editores
.idea/
.vscode/
*.swp
*.swo 